/* Always Useful */
.border-top-1 { border-top: #dfdfdf solid 1px; }
.border-bottom-1 { border-top: #dfdfdf solid 1px; }



.tools-cat-list {
    display: inline-block;
    border-bottom: #dfdfdf solid 1px;
    border-top: #dfdfdf solid 1px;
    padding: 10px 12px 10px 10px;
    width: 100%;
    position: relative;
    margin-top: -1px;
}

.tools-icon-m {
    width: 25%;
    float: left;
    position: relative;
}

.tools-cat-list h3 {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    color: #444444 !important;
    width: 75%;
    position: relative;
    margin-top: 22px;
}

.tools-cat-list p {
    display: inline-block;
    color: #444444;
    font-size: 13px;
    position: relative;
    top: -10px;
    width: 75%;
}
