.tools-cat-list {
    display: inline-block;
    font-weight: 500;
    border-bottom: #dfdfdf solid 1px;
    border-top: #dfdfdf solid 1px;
    padding: 10px 10px 0px 10px;
} 

.tools-icon-m {
    width: 115px;
    float: left;
}

.tools-cat-list h3 {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    color: #444444 !important;
    float: left;
    width: 100%;
    position: absolute;
    margin-top: 22px;
}

.tools-cat-list p {
    display: inline-block;
    color: #444444;
} 
